<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django PHP</title>
</head>

<body>
  hi {{request}} {{user_data}}
  <form action="/contact/" method="POST">{% csrf_token %}
    <label for="username_label">Username: </label>
    <input id="username" type="text" name="username" value="{{ user_name }}">
    <label for="pass_label">Password: </label>
    <input id="password" type="text" name="password" value="">
    <input type="submit" value="OK">
</form>
</body>

</html>